body{

    background-color:cornflowerblue;
    color:white;
    padding-left: 400px;
}

table thead{

    background-color:grey;
    color:white;

}

td{
    border-radius:4px ;
    border: solid 3px grey;
    background-color: grey;
}



.form-control{

width: 300px;
height:35px;
}


.registrar{margin-left: 100px;}

a{text-decoration: none;
  color: black;}

button {

    background-color: #2A709D; /* Green */
    border: none;
    color: white;
    padding: 7px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

button {
    background-color: white; 
    color: black; 
    border: 2px solid #2A709D;
  }

  a:hover{    background-color: #2A709D;
    color: white;}
  
button:hover {
  border-radius: 4px;
    background-color: #2A709D;
    color: white;
  }


  img{

 width:100px;

  }
  .hola{display: flex;
  flex-direction: row;}
